{% extends "main.html" %} {%block albums%}
<link href="/static/styles/songs.css" rel="stylesheet" />
<div class="main">
  <h3>
    Welcome {{user.first_name}}!<br />
    Tune in to your favourite songs NOW!
  </h3>
  <div class="songs-card all-songs mt-5">
    <h4>{{title}}</h4>
    <br />
    <div class="container-fluid album-container">
      <div class="row">
        {%for album in albums %} {% for artist in artists%} {%if album.artist_id
        == artist.artist_id%}
        <div class="card song-card me-3 mb-3" style="width: 21rem">
          <div class="card-body">
            <h5 class="card-title">{{album.album_name}}</h5>
            <h6 class="card-subtitle">{{artist.name}}</h6>
            <br />
            <a
              class="card-link btn control-link"
              href="{{url_for('view_albums', album_id = album.album_id)}}"
            >
              <i class="fa-solid fa-eye me-2"></i>View
            </a>
            {% if album.album_id in likes | map(attribute='album_id')%}
            <a
              class="card-link btn control-link"
              href="{{url_for('dislike_album', album_id=album.album_id)}}"
            >
              <i class="fa-solid fa-heart me-2"></i>Liked
            </a>
            {%else%}
            <a
              class="card-link btn control-link"
              href="{{url_for('like_album', album_id=album.album_id)}}"
            >
              <i class="fa-regular fa-heart me-2"></i>Like
            </a>
            {% endif %}
          </div>
        </div>
        {%endif%} {%endfor%} {%endfor%}
      </div>
    </div>
  </div>
</div>
{%endblock%}
