<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Songs</title>
    <!--Favion-->
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <!--CSS-->
    <link href="/static/styles/add_songs.css" rel="stylesheet" />
    <!--Bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!--Fontawesome-->
    <script
      src="https://kit.fontawesome.com/091bbf61ba.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid navabar-items">
        <!--Logo-->
        <div class="logo col-6">
          <a class="navbar-brand" href="{{url_for('show_main')}}">
            <img
              src="/static/images/brand-logo.png"
              width="30"
              height="30"
              class="d-inline-block align-top"
              alt="Your Logo"
            />
            MUSIQ
          </a>
        </div>
        <div class="buttons col-6 d-flex justify-content-end">
          <!--Buttons-->
          <a
            class="btn home me-3"
            type="button"
            href="{{url_for('show_main')}}"
          >
            <i class="fa-solid fa-house me-2"></i
            ><span class="text">Back Home</span>
          </a>
        </div>
      </div>
    </nav>
    <div class="main-container playlist">
      <div class="row d-flex justify-content-center">
        <div class="col-4 playlist-form-update me-3">
          <br />
          <h3>Update Playlist</h3>
          <br />
          <form
            action="/user/playlists/{{playlist.playlist_id}}/update"
            method="POST"
          >
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"
                >Playlist ID</label
              >
              <input
                class="form-control"
                type="text"
                value="{{playlist.playlist_id}}"
                disabled
                readonly
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"
                >Playlist Name</label
              >
              <input
                class="form-control"
                type="text"
                required
                name="playlist_name"
                value="{{playlist.name}}"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label me-2"
                >Privacy:</label
              >
              {%if playlist.privacy == True%}
              <input
                class="form-check-input"
                type="radio"
                name="privacy"
                id="flexRadioDefault1"
                value="private"
                checked="checked"
              />
              {%else%}
              <input
                class="form-check-input"
                type="radio"
                name="privacy"
                id="flexRadioDefault1"
                value="private"
              />
              {%endif%}
              <label class="form-check-label me-2" for="flexRadioDefault1">
                Private
              </label>
              {%if playlist.privacy == True%}
              <input
                class="form-check-input"
                type="radio"
                name="privacy"
                id="flexRadioDefault1"
                value="public"
              />
              {%else%}
              <input
                class="form-check-input"
                type="radio"
                name="privacy"
                id="flexRadioDefault1"
                value="public"
                checked="checked"
              />
              {%endif%}
              <label class="form-check-label me-2" for="flexRadioDefault1">
                Public
              </label>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label me-2"
                >Select Song</label
              >
              <select
                class="form-select"
                aria-label="Size 3 select example"
                name="song_id"
                required
              >
                <option selected>Select Song</option>
                {%for song in songs%}
                <option value="{{song.song_id}}">{{song.title}}</option>
                {%endfor%}
              </select>
            </div>
            <div class="button-div">
              <button class="btn submit me-3" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="alert alert-danger alert-dismissible mt-2 w-25" role="alert">
        <div>
          <i class="fa-solid fa-circle-exclamation me-2"></i> {{message}}
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </div>
    <script src="/static/js/main.js"></script>
  </body>
</html>
